<template>
    <div class="col-md-4 col-lg-2 sidebar">
        <div class="sidebar-box-2">
            <h2 class="heading mb-4 font-weight-bold"><a href="#">Kategori</a></h2>
        <hr>
        </div>
        <div class="sidebar-box-2">
            <h2 class="heading mb-4"><a href="#">Pakaian</a></h2>
            <ul>
                <li><a href="#">Kemeja</a></li>
                <li><a href="#">Hijab</a></li>
                <li><a href="#">Celana</a></li>
            </ul>
        </div>
        <div class="sidebar-box-2">
            <h2 class="heading mb-4"><a href="#">Aksesoris</a></h2>
            <ul>
                <li><a href="#">Tas</a></li>
                <li><a href="#">Kacamata</a></li>
                <li><a href="#">Topi</a></li>
            </ul>
        </div>
        <div class="sidebar-box-2">
            <h2 class="heading mb-4"><a href="#">Hiasan Rumah</a></h2>
            <ul>
                <li><a href="#">Hiasan Dinding</a></li>
                <li><a href="#">Kalender</a></li>
            </ul>
        </div>
        
    </div>
</template>

<script>
export default {
    name: 'ShopCategory',
}
</script>