<template>

    <div class="row">
        <div class="col-md-12">
            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                        <tr class="text-center">
                        <th>&nbsp;</th>
                        <th>Produk</th>
                        <th>Harga</th>
                        <th>Kuantitas</th>
                        <th>Total</th>
                        <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                        <td class="image-prod"><div class="img" style="background-image:url(images/product-3.jpg);"></div></td>
                        <td class="product-name">
                            <h3>Young Woman Wearing Dress</h3>
                        </td>
                        
                        <td class="price">$4.90</td>
                        
                        <td class="quantity">
                            <div class="input-group mb-3">
                            <input type="text" name="quantity" class="quantity form-control input-number text-center" value="1" min="1" max="100">
                            </div>
                        </td>
                        
                        <td class="total">$4.90</td>
                        
                        <td class="product-remove"><a href="#" class="btn-danger"><span class="ion-ios-close" style="color: white;"></span></a></td>
                        </tr><!-- END TR-->

                        <tr class="text-center">
                        
                        <td class="image-prod"><div class="img" style="background-image:url(images/product-4.jpg);"></div></td>
                        
                        <td class="product-name">
                            <h3>Young Woman Wearing Dress</h3>
                        </td>
                        
                        <td class="price">$15.70</td>
                        
                        <td class="quantity">
                            <div class="input-group mb-3">
                            <input type="text" name="quantity" class="quantity form-control input-number text-center" value="1" min="1" max="100">
                        </div>
                        </td>
                        
                        <td class="total">$15.70</td>
                        
                        <td class="product-remove"><a href="#" class="btn-danger"><span class="ion-ios-close" style="color: white;"></span></a></td>
                        </tr><!-- END TR-->
                    </tbody>
                    </table>
                </div>
        </div>
    </div>

</template>

<script>
export default {
    name: 'CartProduct',
}
</script>