<template>
    <div class="row">
        <div class="col mr-5 mt-5 cart-wrap">
            <form>
                <label for="voucher">Punya kode voucher ?</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="voucher">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" style="border-radius: 0;">Klaim voucher</button>
                        </div>
                </div>
            </form>	
        </div>

        <div class="col mt-5 mb-5 cart-wrap">
            <div class="cart-total mb-3">
                <h3>Total Belanja</h3>
                <p class="d-flex">
                    <span>Jumlah Barang</span>
                    <span>3</span>
                </p>
                <p class="d-flex">
                    <span>Potongan Harga</span>
                    <span>$0.00</span>
                </p>
                <hr>
                <p class="d-flex total-price">
                    <span>Total Harga</span>
                    <span>$17.60</span>
                </p>
            </div>
            <p class="text-center"><a href="checkout.html" class="btn btn-primary py-3 px-4">Pilih Pembayaran</a></p>
        </div>
    </div>
</template>
<script>
export default {
    name: 'CartCheckout',
}
</script>