<template>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <form>
            <div class="form-group">
              <label for="nama">Nama</label>
              <input type="text" class="form-control" id="nama">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="tgl_bayar">Tanggal Pembayaran</label>
              <input type="date" class="form-control" id="tgl_bayar" >
            </div>
            <div class="form-group">
              <label for="byr">Jumlah Bayar</label>
              <input type="text" class="form-control" id="byr">
            </div>
            <div class="form-group">
              <label for="bank">Bank Tujuan</label>
              <input type="text" class="form-control" id="bank">
            </div>
            <div class="form-group">
              <label for="invoice">No Pemesanan / Invoice</label>
              <input type="text" class="form-control" id="invoice">
            </div>
            <div class="form-group">
              <label for="pesan">Pesan Tambahan ( Optional )</label>
              <textarea class="form-control" id="pesan" rows="3"></textarea>
            </div>
            <div class="form-group row">
              <div class="col-8">
                <label for="trnsk">Bukti Transaksi</label>
                <input type="file" class="form-control" id="trnsk">
              </div>
              <div class="col">
                <img src="images/about.jpg" alt="..." class="img-thumbnail" style=" max-height: 200px;">
              </div>
            </div>
            <button class="btn btn-success w-100 mb-5">Kirim Bukti Pembayaran</button>
          </form>
        </div>
      </div>
    </div>
</template>

<script>
export default {
    name: 'ConfirmationPage'
}
</script>