<template>
    <section class="ftco-section mb-5 pt-3">
		<div class="container">
			<h5 class="text-center mb-3">Pesanan</h5>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
						  <table class="w-100">
							  <tbody class="text-center">
								  <tr style="font-size: 12px;">
									  <td>Kode pemesanan : <span  class="font-weight-bold"> 30NSMAE022SMAW2102-NM </span></td>
									  <td class="border-left border-right">Status pemesanan : <span  class="font-weight-bold">Menunggu Pembayaran </span></td>
									  <td>Total Belanja : <span  class="font-weight-bold">Rp. 10.000.000</span> </td>
								  </tr>
							  </tbody>
						  </table>
						</div>
						<div class="card-body">
							<table class="table">
								<tbody>
								  <tr class="text-center">
									<td class="image-prod">
                                        <img src="images/product/2.jpg" alt="" style="max-height: 200px; max-width:200px">
                                    </td>
									<td class="product-name">
										<h3>Young Woman Wearing Dress</h3>
										<small>Rp. 5.000.000 x 2 Produk </small>
									</td>
									
									<td class="price">
										<div>Total Harga Produk</div>
										<span style="color: red;"> Rp. 10.000.000 </span>
									</td>
									
								  </tr><!-- END TR-->
	
								</tbody>
								
							  </table>
							  <div class="text-center">
								  <button class="btn btn-outline-success mr-1" style="font-size: 12px;">Cara Pembayaran</button>
								  <button class="btn btn-success" style="font-size: 12px;">Konfirmasi Pembayaran</button>
								</div>
						</div>
					  </div>
				</div>
			</div>
		</div>	
	</section>
</template>

<script>
export default {
    name: 'OdersItem'
}
</script>