<template>
    <div class="col-lg-6 mb-5">
        <div>
            <a href="images/menu-2.jpg" class="image-popup"><img src="images/product/2.jpg" class="img-fluid" alt="Colorlib Template"></a>
        </div>
        <carousel class="owlcarousel pt-2" >
            <div class="item active p-1">
                <img src="images/product/2.jpg" alt="">
            </div>
            <div class="item p-1">
                <img src="images/product/2a.jpg" alt="" />
            </div>
            <div class="item p-1">
                <img src="images/product/2b.jpg" alt="" />
            </div>
        </carousel>
    </div>
    
</template>

<script>

import carousel from 'vue-owl-carousel';

export default {
    name: 'ProductDetail',
    components: {
        carousel,
    }
}
</script>