<template>
    <div class="cartpage">
        <Header />
        <section class="ftco-section ">
		    <div class="container">
                <CartProduct />
                <CartCheckout />
            </div>
        </section>
        <hr>
        <Footer />
    </div>  
</template>
<script>

import Header from '@/components/Header.vue'

import CartProduct from '@/components/Cart/CartProduct.vue'
import CartCheckout from '@/components/Cart/CartCheckout.vue'

import Footer from '@/components/Footer.vue'

export default {
    name: 'Cart',
    components: {
        CartProduct,
        CartCheckout,
        Header,
        Footer,
    }
}
</script>