<template>
    <div class="odersPage">
        <Header />

        <ConfirmationForm />
        <hr>
        <Footer />
    </div>
</template>

<script>

import Header from '@/components/Header.vue'

import ConfirmationForm from '@/components/Confirmation/ConfirmationForm.vue'

import Footer from '@/components/Footer.vue'

export default {
    name: 'odersPage',
    components: {
        Header,
        ConfirmationForm,
        Footer
    }
}
</script>