<template>
  <div class="home">
	  <Header />
	  <HomeCarousel />
	  <HomeProduct />
	  <HomeCounter />
	  <HomeTestimonial />
    <hr>
	  <Footer />

	

  </div>
</template>

<script>

// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import HomeCarousel from '@/components/Home/HomeCarousel.vue'
import HomeProduct from '@/components/Home/HomeProduct.vue'
import HomeCounter from '@/components/Home/HomeCounter.vue'
import HomeTestimonial from '@/components/Home/HomeTestimonial.vue'


export default {
  name: 'Home',
  components: {
	Footer,
	Header,
	HomeCarousel,
	HomeCounter,
  HomeProduct,
  HomeTestimonial,
  },
}
</script>
