<template>
    <div class="odersPage">
        <Header />

        <OdersItem />
        <hr>
        <Footer />
    </div>
</template>

<script>

import Header from '@/components/Header.vue'

import OdersItem from '@/components/Oders/OdersItem.vue'

import Footer from '@/components/Footer.vue'

export default {
    name: 'odersPage',
    components: {
        Header,
        OdersItem,
        Footer
    }
}
</script>