<template>
    <div class="paymentpage">
        <Header />
        <section class="ftco-section pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <h3 class="mb-4 billing-heading">Detail Pembeli</h3>
                        <PaymentForm />
                        <PaymentMethod />
                    </div>
                </div>
            </div>
        </section>
        <Footer />
    </div>
</template>

<script>

import Header from '@/components/Header.vue'

import PaymentForm from '@/components/Payment/PaymentForm.vue'
import PaymentMethod from '@/components/Payment/PaymentMethod.vue'

import Footer from '@/components/Footer.vue'

export default {
    name: 'Payment',
    components: {
        PaymentForm,
        PaymentMethod,
        Header,
        Footer,
    }
}
</script>