<template>
    <div class="productPage">
        <Header />
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <ProductPhoto />
                    <ProductDetail />
                    
                </div>
            </div>
        </section>

        <Footer />         
    </div>
</template>

<script>

import Header from '@/components/Header.vue'

import ProductPhoto from '@/components/Product/ProductPhoto.vue'
import ProductDetail from '@/components/Product/ProductDetail.vue'

import Footer from '@/components/Footer.vue'

export default {
    name: 'Product',
    components: {
        Header,
        ProductDetail,
        ProductPhoto,
        Footer,
    }

}
</script>