<template>
    <div class="Register">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-7" >
                    <div class="contain" >
                        <h4>BEAUTIFY.ID</h4>
                        <div class="img-login" style="background-image: url(images/login/image.png);"></div>
                    </div>
                </div>
                <div class="col-5">
                    
                    <RegisterForm />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import RegisterForm from '@/components/Register/RegisterForm.vue'

export default {
    name: 'Register',
    components: {
        RegisterForm,
    }
}
</script>

<style scoped>
.contain{
    width: 400px;
    height: 350px;
    margin-top: 150px;
    text-align: center;
}
.contain h4{
    text-transform: uppercase;
    font-weight: 800;
    /* font-size: 20px; */
    letter-spacing: 2px;
}
.img-login{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
</style>