<template>
  <div class="shop">
	  <Header />
	  <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
	  			<ShopProduct />
	  			<ShopCategory />
    		</div>
    	</div>
	  </section>
    <hr>
	  <Footer />
  </div>
</template>

<script>

// @ is an alias to /src
import Header from '@/components/Header.vue'

import ShopCategory from '@/components/Shop/ShopCategory.vue'
import ShopProduct from '@/components/Shop/ShopProduct.vue'

import Footer from '@/components/Footer.vue'


export default {
  name: 'Shop',
  components: {
	Footer,
	Header,
	ShopProduct,
	ShopCategory,
  },
}
</script>
