<template>
    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_4.jpg);">
    	<div class="container">
    		<div class="row justify-content-center py-5">
    			<div class="col-md-10">
		    		<div class="row">
                        <div class="col-md-4 d-flex justify-content-center counter-wrap">
                            <div class="block-18 text-center">
                            <div class="text">
                                <animated-number
                                    :value="pembelian"
                                    :formatValue="formatToPembelian"
                                    :duration="1000"
                                />
                                <span>Pembelian</span>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center counter-wrap">
                            <div class="block-18 text-center">
                            <div class="text">
                                <animated-number
                                    :value="partner"
                                    :formatValue="formatToPartner"
                                    :duration="1000"
                                />
                                <span>Partner</span>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center counter-wrap">
                            <div class="block-18 text-center">
                            <div class="text">
                                <animated-number
                                    :value="penghargaan"
                                    :formatValue="formatToPenghargaan"
                                    :duration="1000"
                                />
                                <span>Penghargaan</span>
                            </div>
                        </div>
                    </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
</template>

<script>

import AnimatedNumber from "animated-number-vue";


export default {
    name: 'HomeCounter',
    components: {
        AnimatedNumber
    },
    data() {
        return {
            pembelian: 0,
            penghargaan: 0,
            partner: 0,
        };
    },
    methods: {
        formatToPembelian(pembelian) {
            return `<strong class="number"> ${Number(pembelian).toFixed(0)}</strong>`;
        },
        formatToPenghargaan(penghargaan) {
            return `<strong class="number"> ${Number(penghargaan).toFixed(0)}</strong>`;
        },
        formatToPartner(partner) {
            return `<strong class="number"> ${Number(partner).toFixed(0)}</strong>`;
        }
    },
    mounted() {
        setTimeout(() => {
            this.pembelian = Number(this.pembelian) + 100;
            this.partner = Number(this.partner) + 300
            this.penghargaan = Number(this.penghargaan) + 10
        }, 1000);
    }

    
}

</script>