<template>
    
    <!-- start home carousel -->
		
        
    <section id="home-section" class="hero">
        <carousel class="home-slider owlcarousel" :items="1" :dots="false" :loop="true" :autoplay="true" :nav="false">

        <div class="slider-item">
            <!-- carousel bg_1 -->
            <div class="overlay"></div>
            <div class="container-fluid p-0">
            <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                <div class="one-third order-md-last img" style="background-image:url(images/carousel/bg_1.jpg); height: 100%;">
                </div>
                <div class="one-forth d-flex align-items-center " data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text">
                        <span class="subheading">Toko Beautify Soul</span>
                        <div class="horizontal">
                            <h3 class="vr" style="background-image: url(images/divider.jpg);">Didirikan sejak 2019</h3>
                            <h1 class="mb-4 mt-3">Ambil kesempatan<br><span>Tampil Trendi</span></h1>
                            <p>Buat dirimu semakin cantik dengan produk kami</p>
                            
                            <p><a href="#" class="btn btn-primary px-5 py-3 mt-3">Ambil Kesempatan</a></p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <!-- carousel bg_2 -->
            <div class="overlay"></div>
            <div class="container-fluid p-0">
            <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                <div class="one-third order-md-last img" style="background-image:url(images/carousel/bg_2.jpg); height: 100%;">
                </div>
                <div class="one-forth d-flex align-items-center " data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text">
                        <span class="subheading">Toko Beautify Soul</span>
                        <div class="horizontal">
                            <h3 class="vr" style="background-image: url(images/divider.jpg);">Toko busana muslimah terbaik</h3>
                            <h1 class="mb-4 mt-3">Jadilah dirimu <span>Cantik</span> dalam <span>Setiap keadaan</span></h1>
                            <p>Cantik bukan hanya terletak pada wajah dan paras saja, tetapi cantik hati lebih utama</p>
                            
                            <p><a href="#" class="btn btn-primary px-5 py-3 mt-3">Mulai Sekarang</a></p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        </carousel>
    </section>
	<!-- end home carousel -->
</template>

<script>

import carousel from 'vue-owl-carousel';

export default {
    name: 'HomeCarousel',
    components: { 
        carousel
    },
    
}
</script>