<template>
    <footer class="ftco-footer bg-light ftco-section pt-3" style="background-color: white!important;">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Sosial Media</h2>	
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-1">
                <li class=""><a href="#"><span class="icon-twitter"></span></a></li>
                <li class=""><a href="#"><span class="icon-facebook"></span></a></li>
                <li class=""><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Informasi</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block">Cara Pemesanan</a></li>
	                <li><a href="#" class="py-2 d-block">Konfirmasi Pembayaran</a></li>
	                <li><a href="#" class="py-2 d-block">Syarat &amp; Ketentuan</a></li>
	                <li><a href="#" class="py-2 d-block">Tanya Jawab</a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Ingin Bertanya?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">CS 1 : +62 877 2090 xxxx</span></a></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">CS 2 : +62 877 2090 xxxx</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@beautify.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            
          </div>
        </div>
      </div>
    </footer>
</template>

<script>
export default {
    name: 'Footer',
}
</script>