<template>
    <div class="header">
        <div class="py-1 bg-black">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">+62 877 2090 xxxx</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">contact@beautify-soul.id</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 Hari waktu pengiriman &amp; Gratis ongkos kirim</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
            <a class="navbar-brand" href="index.html">Beautify.id</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav"  >
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active"><a href="index.html" class="nav-link">Beranda</a></li>
                    <b-nav-item-dropdown text="Belanja" ref="dropdown" style="outline: none;">
                        <b-dropdown-item href="shop.html">Katalog</b-dropdown-item>
                        <b-dropdown-item  href="cart.html">Keranjang</b-dropdown-item>
                        <b-dropdown-item  href="confirmation.html">Konfirmasi Pembayaran</b-dropdown-item>
                        <b-dropdown-item  href="how-buy.html">Cara Pembelian</b-dropdown-item>
                    </b-nav-item-dropdown>
                    <li class="nav-item"><a href="pesanan.html" class="nav-link">Pesanan[0]</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">Tentang Kami</a></li>
                    <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
                    <li class="nav-item">
                        <!-- <a href="contact.html"   style="font-weight: bold;">Masuk</a> -->
                        <b-link v-b-modal.modal-1 class="nav-link">Masuk</b-link>
                    </li>

                </ul>
            </div>
            </div>
        </nav>

        <div>
            <b-modal id="modal-1" title="Masuk akun">
                <div class="form">
                    <div class="container">
                        <form>
                            <div class="form-group">
                                <label for="email">Email / Nama Pengguna</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="password">Kata Sandi</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Ingat saya ?</label>
                            </div>
                            <button type="submit" class="btn btn-primary" style="width: 100%;">Masuk</button>
                        </form>
                        <p class="text-center pt-3">Belum memiliki akun ? <a href="" style="text-decoration: underline;">Daftar</a></p>
                    </div>
                </div>
            </b-modal>
        </div>
    </div>
</template>

<script>

export default {
    name: 'Header',
    components: {
        
    },
    methods: {
        onOver() {
            this.$refs.dropdown.visible = true;
        },
        onLeave() {
            this.$refs.dropdown.visible = false;
        }
    }
}

</script>

<style scoped>
.nav-link{
    outline: none!important;
}
</style>