<template>
    <div class="form mtop">
        <h3 class="text-center font-weight-bold">Daftar</h3>
        <div class="card shadow-sm rounded">
            <div class="card-header text-center font-weight-bold p-0" style="background-color: white; ">
                <table class="w-100 h-100">
                    <tbody>
                        <tr style="height: 20px;">
                            <td v-bind:class="{ 'bg-primary':step1 }" style="width:50%;" :style="[ step1 ? { color: 'white' } : { color: '' } ] ">
                                Data Diri
                            </td>
                            <td v-bind:class="{ 'bg-primary':step2 }" style="width:50%;" :style="[ step2 ? { color: 'white' } : { color: '' } ]">
                                Data Akun
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div  class="card-body ">
                <div class="container">
                    <form @submit.prevent="submit" >
                        <div class="step1" v-if="step1"> 

                            <div class="form-group">
                                <label for="name">Nama Lengkap</label>
                                <input type="text" class="form-control" id="name" v-model="isi">
                            </div>
                            <div class="form-group">
                                <label for="jk">Jenis Kelamin</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Pria</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Wanita</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Tanggal Lahir</label>
                                <div class="row">
                                    <div class="col-3">
                                        <select class="form-control form-control-sm">
                                            <option value="" disabled selected hidden>Tanggal</option>
                                            <option>Small select</option>
                                            <option>Small select</option>
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <select class="form-control form-control-sm">
                                            <option value="" disabled selected hidden>Bulan</option>
                                            <option>Small select</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control form-control-sm">
                                            <option value="" disabled selected hidden>Tahun</option>
                                            <option>Small select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <a href="" @click.prevent="nextStep" class="btn btn-primary" style="width: 100%;">Selanjutnya</a>
                        </div>
                    
                        <div class="step2" v-if="step2">

                            <div class="form-group">
                                <label for="email">Alamat Email</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="telp">No. Handphone</label>
                                <input type="text" class="form-control" id="telp">
                                </div>
                            <div class="form-group">
                                <label for="password">Kata Sandi</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="form-group">
                                <label for="repassword">Konfirmasi Kata Sandi</label>
                                <input type="password" class="form-control" id="repassword">
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a href="" class="beranda btn btn-outline-primary" style="width: 100%;" @click.prevent="prevStep"><small>Sebelumnya</small></a>
                                </div>
                                <div class="col">
                                    <input type="submit" class="btn btn-primary" style="width: 100%;" value="Daftar">
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</template>
<script>


export default {
    name: 'RegisterForm',
    components:{
        
    },
    data: function(){
        return {
            color: 'white',
            step1: true,
            step2: false,
            isi: null
        }
    },
    methods: {
        nextStep() {
            this.step1 = false;
            this.step2 = true;

        },
        prevStep() {
            this.step1 = true;
            this.step2 = false;

        },
        submit() {
            console.log(this.isi)
        }
    }
}
</script>
<style scoped>
body{
    width: 100%;
    height: 800px;
    background-color: #f5f5f5;
}
.mtop{
    margin-top: 100px;
}
.beranda{
    padding: ;
}
</style>