<template>
    <form>
        <div class="form-group">
            <label for="name">Nama Lengkap</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="telp">No. HP</label>
            <input type="text" class="form-control" id="telp">
            </div>
        <div class="form-group">
            <label for="email">Alamat Email</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="address">Alamat Pengiriman</label>
            <textarea class="form-control" id="address" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="provinsi">Provinsi</label>
            <select class="form-control" id="provinsi">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="kabkot">Kota/Kabupaten</label>
            <select class="form-control" id="kabkot">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="kec">Kecamatan</label>
            <select class="form-control" id="kec">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
        
    </form>
</template>

<script>
export default {
    name: 'PaymentForm'
}
</script>