<template>
    <div class="row mt-5 pt-3 d-flex">
        <div class="col-md-6 d-flex">
            <div class="cart-detail cart-total bg-light p-3 p-md-4">
                <h3 class="billing-heading mb-4">Total Belanja</h3>
                <p class="d-flex">
                    <span>Subtotal</span>
                    <span>$20.60</span>
                </p>
                <p class="d-flex">
                    <span>Ongkos kirim</span>
                    <span>$0.00</span>
                </p>
                <p class="d-flex">
                    <span>Diskon</span>
                    <span>$3.00</span>
                </p>
                <hr>
                <p class="d-flex total-price">
                    <span>Total</span>
                    <span>$17.60</span>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="cart-detail bg-light p-3 p-md-4">
                <h3 class="billing-heading mb-4">Metode Pembayaran</h3>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="radio">
                            <label><input type="radio" name="optradio" class="mr-2"> Transfer Bank</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="radio">
                            <label><input type="radio" name="optradio" class="mr-2"> Ovo</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="radio">
                            <label><input type="radio" name="optradio" class="mr-2"> Gopay</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="radio">
                            <label><input type="radio" name="optradio" class="mr-2"> Indomart</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
                        </div>
                    </div>
                </div>
                <p><a href="#" class="btn btn-primary py-3 px-4">Bayar</a></p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'PaymentMethod'
}
</script>